In [1]:
import pandas as pd

In [3]:
df1 = pd.read_csv('data/201402_trip_data.csv')
df2 = pd.read_csv('data/201408_trip_data.csv')
df3 = pd.read_csv('data/201508_trip_data.csv')

In [14]:
df1.loc[:0,:]

,Trip ID,Duration,Start Date,Start Station,Start Terminal,End Date,End Station,End Terminal,Bike #,Subscription Type,Zip Code
0,4576,63,8/29/2013 14:13,South Van Ness at Market,66,8/29/2013 14:14,South Van Ness at Market,66,520,Subscriber,94127

In [16]:
df2.loc[:0,:]

,Trip ID,Duration,Start Date,Start Station,Start Terminal,End Date,End Station,End Terminal,Bike #,Subscriber Type,Zip Code
0,432946,406,8/31/2014 22:31,Mountain View Caltrain Station,28,8/31/2014 22:38,Castro Street and El Camino Real,32,17,Subscriber,94040

In [18]:
df3.loc[:0,:]

,Trip ID,Duration,Start Date,Start Station,Start Terminal,End Date,End Station,End Terminal,Bike #,Subscriber Type,Zip Code
0,913460,765,8/31/2015 23:26,Harry Bridges Plaza (Ferry Building),50,8/31/2015 23:39,San Francisco Caltrain (Townsend at 4th),70,288,Subscriber,2139

In [4]:
df = pd.concat([df1, df2, df3], ignore_index=True)
#df = df1.append([df2, df3])

In [56]:
df1.shape

(144015, 11)

In [37]:
df2.shape

(171792, 11)

In [38]:
df3.shape

(354152, 11)

In [5]:
df.shape

(669959, 12)

In [6]:
df = df[df1.columns]

In [7]:
df['Start Date'] = pd.to_datetime(df['Start Date'])
#df['End Date'] = pd.to_datetime(df['End Date'])

In [8]:
df = df.sort_values('Start Date')

In [9]:
df.to_csv('trip_data.csv',index=False)